/* Importation de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cookie:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Réinitialisation des styles et définition des styles de base */
html, body {
    font-size: 14px;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Styles de l'en-tête */
header {
    background-color: rgb(255, 255, 255);
    outline: 1px;
    outline-color: rgb(43, 23, 0);
    outline-style: solid;
}

.haut_de_page {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.haut_de_page li {
    list-style: none;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.haut_de_page nav {
    text-align: right;
}

.haut_de_page a {
    text-decoration: none;
    color: rgb(208, 155, 30);
    text-transform: uppercase;
}

.haut_de_page a:hover {
    color: rgb(43, 23, 0);
}

.haut_de_page a:active {
    color: rgb(43, 23, 0);
}

.haut_de_page nav, ul, li {
    text-align: right;
}

.haut_de_page li:last-of-type{
    margin-right: 50px;
}

.logo {
    font-family: Cookie;
    padding-left: 30px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(43, 23, 0);
    text-shadow: 2px 2px 2px rgb(203, 181, 127);
}

.logo img {
    padding: 10px 20px;
    vertical-align: middle;
}

.logo,
nav,
.haut_de_page li,
.logo img{
    display: inline-block;
}

/* Styles pour les sous-menus */
.sous-menu {
    display: none; /* Cacher le sous-menu par défaut */
    position: absolute; /* Position par rapport au parent */
    top: 15px; /* Ajuster si nécessaire */
    background-color: rgb(249, 243, 236);
    border-radius: 5%;
    padding-top: 5px;
    text-align: left;
    z-index: 50; /* Éviter les chevauchements */
}

.haut_de_page li:hover .sous-menu {
    display: block;
}

.sous-menu li {
    margin: 7px;
}

/* Pour que le footer reste au bas de la page */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 50px;
}

/* Styles pour le pied de page */
footer {
    background-color: rgb(26, 17, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 50px;
}

.bas_de_page li {
    list-style: none;
    margin-right: 15px;
    font-size: 14px;
    color: rgb(231, 225, 212);
}

.bas_de_page nav {
    text-align: right;
}

.bas_de_page a {
    text-decoration: none;
    color: rgb(231, 225, 212);
    font-size: 14px;
}

.bas_de_page a:hover {
    color: rgb(208, 155, 30);
}

.bas_de_page nav, ul, li {
    text-align: right;
}

.bas_de_page li:last-of-type{
    margin-right: 50px;
}

.bas_de_page nav,
.bas_de_page li {
    display: inline-block;
}

/* Styles pour les paneaux de produits */
.panneau {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 252, 240);
    max-width: 300px;
    margin: 5%;
    text-align: center;
    font-family: arial;
    animation: fadeIn 2s;
}

.panneau img {
    width:95%;
    padding-top: 2.5%;
}
  
.prix {
    color: grey;
    font-size: 21px;
}

.panneau button {
    background-color: rgb(39, 26, 2);
    width: 100%;
    font-size: 18px;
    color: white;
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}
  
.panneau button:hover {
    opacity: 0.6;
}

/* Styles pour la section de sélection de produits */
div.selection {
    text-align: center;
    background-color: rgb(213, 205, 185);
}

div.selection h2 {
    font-family: Cookie;
    font-size: 40px;
    color: rgb(255, 252, 240);
    background-color: rgb(26, 17, 0);
    padding: 10px;
    border-radius: 5%;
    display: inline-block;
}

div.selection h3 {
    font-family: Cookie;
    font-size: 40px;
    color: rgb(255, 252, 240);
    background-color: rgba(26, 17, 0, 0.479);
    padding: 10px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

div.produits {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}