/* Import de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cookie:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

html {
    height: 100%;
}

/* Réinitialisation des styles par défaut */
html, body {
    font-size: 14px;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Styles pour l'en-tête */
header {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(43, 23, 0);
    box-shadow: 0px 8px 10px 10px rgba(255, 255, 255, 0.3);
}

/* Navigation en haut de la page */
.haut_de_page {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.haut_de_page li {
    list-style: none;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.haut_de_page nav {
    text-align: right;
}

.haut_de_page a {
    text-decoration: none;
    color: rgb(208, 155, 30);
    text-transform: uppercase;
}

.haut_de_page a:hover,
.haut_de_page a:active {
    color: rgb(43, 23, 0);
}

.haut_de_page li:last-of-type {
    margin-right: 50px;
}

/* Styles pour le logo */
.logo {
    font-family: Cookie;
    padding-left: 30px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(43, 23, 0);
    text-shadow: 2px 2px 2px rgb(203, 181, 127);
}

.logo img {
    padding: 10px 20px;
    vertical-align: middle;
}

/* Styles pour les sous-éléments dans l'en-tête */
.logo,
nav,
.haut_de_page li,
.logo img {
    display: inline-block;
}

/* Styles pour les sous-menus */
.sous-menu {
    display: none;
    position: absolute;
    top: 15px;
    background-color: rgb(249, 243, 236);
    border-radius: 5%;
    padding-top: 5px;
    text-align: left;
    z-index: 50;
}

.haut_de_page li:hover .sous-menu {
    display: block;
}

.sous-menu li {
    margin: 7px;
}

/* Styles pour le conteneur de la page */
#page-container {
    position: relative;
    min-height: 100vh;
}

div#content-wrap {
    background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?cs=srgb&dl=pexels-pixabay-326311.jpg&fm=jpg);
}

/* Styles du pied de page */
footer {
    background-color: rgb(26, 17, 0);
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.bas_de_page li {
    list-style: none;
    margin-right: 0.9375em;
    font-size: 0.875em;
    color: rgb(231, 225, 212);
}

.bas_de_page nav {
    text-align: right;
}

.bas_de_page a {
    text-decoration: none;
    color: rgb(231, 225, 212);
    font-size: 0.875em;
}

.bas_de_page a:hover {
    color: rgb(208, 155, 30);
}

.bas_de_page li:last-of-type {
    margin-right: 3.125em;
}

.bas_de_page nav,
.bas_de_page li {
    display: inline-block;
}

/* Styles du formulaire */
label.subtitle {
    font-style: italic;
    font-size: 20px;
}

.date {
    margin-top: 8px;
    margin-bottom: 8px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(63, 43, 5);
}

main {
    position: relative;
    top: 0px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
}

main .content {
    position: relative;
    width: 98.3%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(213, 205, 185, 0.877);
    animation: fadeIn 2s;
}

.content {
    justify-content: center;
    text-align: center;
    box-shadow: 8px 8px 4px 4px rgba(213, 205, 185, 0.493);;
    border-radius: 1%;
}

h1 {
    font-family: Cookie;
    font-size: 40px;
    font-weight: 200;
    color: rgb(233, 228, 214);
    background-color: rgba(44, 26, 4, 0.71);
    width: 100%;
}*/

.formulaire {
    margin-top: 3%;
    background-color: rgb(213, 205, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.formulaire button,
.formulaire legend {
    margin-top: 10px;
    font-family: Cookie;
    font-size: 40px;
    color: rgb(241, 230, 195);
    background-color: rgba(44, 26, 4, 0.71);
    border-radius: 5%;
    display: inline;
    width: 100%;
    max-width: 300px;
}

.bouton{
    cursor: pointer;
}

fieldset {
    margin: 10px;
    border-color: rgba(44, 26, 4, 0.71);
}
.formulaire label {
    font-size: 20px;
    border-bottom: 2px dotted rgba(44, 26, 4, 0.71);
}


legend {
    padding: 0 10px;
    font-size: 18px;
}

/* Style pour champ invalide lors de la verification */
.invalid-field {
    border: 2px solid red !important;
    background-color: #fce1e5 !important;
}

/* Style pour le bouton hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    z-index: 1;
    padding-right: 20px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/* Cache la liste de navigation par défaut et affiche le menu hamburger en dessous de 1040px */
@media (max-width: 1120px) {
    header nav ul {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

/* Style pour le menu déroulant */
.nav-active {
    display: block;
    text-align: center;
    position: absolute;
    background-color: rgb(249, 243, 236);
    padding-top: 5px;
    top: 50px;
    right: 0;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-active li {
    text-align: center;
    padding: 12px 16px;
}

.nav-active li:hover {
    background-color: #f1f1f1;
}

@media (max-width: 1400px) {
    footer ul li, .bas_de_page ul li {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
}